{% extends 'base.html.twig' %}

{% block title %}Edit TaskList{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier une task list</h1>

    {{ include('task_list/_form.html.twig') }}


{% endblock %}
