{% extends 'base.html.twig' %}

{% block title %}New TaskList{% endblock %}

{% block body %}
    <h1 class="text-center">Créer une task list</h1>

    {{ include('task_list/_form.html.twig') }}

{% endblock %}
