{% extends 'base.html.twig' %}


<title>Créer une mission</title>

{% block body %}
    <h1>Créer une mission</h1>

    {{ include('task/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_task_index') }}">Retour</a>
{% endblock %}
