{% extends 'base.html.twig' %}

{% block title %}Modifier un tableau{% endblock %}

{% block body %}
    <h1>Modifier un tableau</h1>

    {{ include('board/_form.html.twig', {'button_label btn btn-warning': 'Modifer le tableau'}) }}

    <a class="btn btn-info" href="{{ path('app_board_index') }}">Retour au tableau</a>

{% endblock %}
