{% extends 'base.html.twig' %}

{% block title %}Modifier le tableau{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Modifier le tableau</h1>
<hr>
    {{ include('board/_form.html.twig', {'button_label': 'Validé la modification'}) }}
    {{ include('board/_delete_form.html.twig') }}

<hr>
    <a class="btn btn-info" href="{{ path('app_board_index') }}">Retour a la liste des tableaux</a>
</div>
{% endblock %}
