{% extends 'base.html.twig' %}

{% block title %}Modifier un tableau{% endblock %}

{% block body %}
    <h1>Modifier un tableau</h1>

    {{ include('board/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_board_index') }}">Retour au tableau</a>

    {{ include('board/_delete_form.html.twig') }}
{% endblock %}
