{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau tableau{% endblock %}

{% block body %}
    <h1>Créer un nouveau tableau</h1>

    {{ include('board/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_board_index') }}">Retour a la liste des tableau</a>
{% endblock %}
