{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau tableau{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Créer un nouveau tableau</h1>
<hr>
    {{ include('board/_form.html.twig') }}
<hr>
    <a class="btn btn-danger"href="{{ path('app_board_index') }}">Retour à la liste des tableaux</a>
    </div>
{% endblock %}
